header {
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

nav {
    padding: 22px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    height: auto;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: 600;
}

@media screen and (max-width: 640px) {
    nav {
        padding: 22px 30px;
    }

    .menu {
        display: none;

    }
}